<p id="notice"><%= notice %></p>
<h1>Listing Beers</h1>



<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><a href="#">Distributor</a></th>
                <th><a href="#">Brewery</a></th>
                <th><a href="#">Product</a></th>
                <th><a href="#">Location</a></th>
                <th><a href="#">Show</a></th>
                <th><a href="#">Edit</a></th>
                <th><a href="#">Destroy</a></th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th><a href="#">Distributor</a></th>
                <th><a href="#">Brewery</a></th>
                <th><a href="#">Product</a></th>
                <th><a href="#">Location</a></th>
                <th><a href="#">Show</a></th>
                <th><a href="#">Edit</a></th>
                <th><a href="#">Destroy</a></th>
            </tr>
        </tfoot>
 
        <tbody>
          
          <% @beers.each do |beer| %>
            <tr>
              <td><%= beer.distributor %></td>
              <td><%= beer.brewery %></td>
              <td><%= beer.product %></td>
              <td><%= beer.location %></td>
              <td><%= link_to 'Show', beer, class: "btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Edit', edit_beer_path(beer), class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary btn-sm" %> </td>
            </tr>
          <% end %>
          
          
            
           
        </tbody>
    </table>











<br>

<%= link_to 'New Beer', new_beer_path, class:"btn btn-primary" %>

<br><br><br>
