<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>

<p>
  <strong>Distributor:</strong>
  <%= @beer.distributor %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Product:</strong>
  <%= @beer.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @beer.quantity %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @beer.draft %>
</p>

<p>
  <strong>Tent:</strong>
  <%= @beer.tent %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @beer.equipment %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @beer.notes %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @beer.rep %>
</p>

<p>
  <strong>Location:</strong>
  <%= @beer.location %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
